.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.wrapper{
    display: flex;
    align-items: center;
}

.changeTheme{
    margin-right: 20px;
}

.logo{
    margin-right: 20px;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}