@import '../../../variables.css';

.this_dayInfo{
    position: relative;
    padding: 40px;
    max-width: 650px;
    width: 100%;
    background: var(--liteBackground);
    box-shadow:var(--boxShadow);
    border-radius:var(--borderRadius)
}
.item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.item:last-child{
    margin-bottom: 0;
}
.indicator,
.indicator_name {
    margin-right: 20px;
}

.indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    border-radius: 50%;
}

.indicator_name,
.indicator_value {
    z-index: 1;
    font-size: 18px;
}
.indicator_name {
    color: #939CB0;
}
.indicator_value {
    color: var(--liteColor);
}


.cloud_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}